.main-pilt {
  width: 300px;
  height: 150px;
}

.main-pilt:hover {
  opacity: 0.8;
}

.nupp {
  background-color: cyan;
  border-radius: 7px;
  width: 100px;
  height: 50px;
}

.nupp:hover {
  font-weight: bold;
  font-size: 20px;
}

.main-pilt, .nupp {
  cursor: pointer;
}

.aktiivne {
  border: 1px solid green;
  color: green;
}

.mitteaktiivne {
  border: 1px solid red;
  color: red;
}